main {
  padding: 2rem;
  margin: 4rem 0;

  min-width: 930px;
  max-width: 1260px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 200px;
}

.site-title {
  font-weight: 600;
  font-size: 96px;
}
